.contenu{
    margin-bottom: 100px;
}
.contenant{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
border: 2px lightcyan solid ;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 10px;
background-color: lightcyan;
padding: 30px;
margin: 30px;
}
.cube{
    border: 1px solid antiquewhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: antiquewhite;
    border-radius: 10px;
    width: 20%;
    font-size: 22px;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cube:hover{
    transform: scale(0.99);
    background: #224466;
    color: antiquewhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
h3{
    color: #224466;
}
