/***********Mise en Page ***************/
.main_condition{
    margin-top: 130px;
}
.contenu_condition{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 60px;
}
.h2_condition {
    margin-bottom: 100px;
}
.h3_condition{
    text-align: left;
    margin-left: 80px;
}
.p_condition{
    text-align: justify;
}