/********PARTIE INFO**********/
.main_membre{
    margin-top: 120px;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.h3_membre{
    font-size: 25px;
    line-height: 1.5em;
}
.image_membre img{
    width: 400px;
    margin-top: 180px;
}
section.info_membre{
    padding: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: 2px solid lightcyan;
    background-color: lightcyan;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
p.p_membre{
    text-align: justify;
    margin: 120px 20px;
}
