.contenu{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}
.texte{
    border: 2px lightcyan solid ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: lightcyan;
    padding: 60px;
}
